.main-content {
  display: flex;
  margin: 1em 2em;
}
.content {
  flex: 0.8;
  padding-top: 0.7em;
  margin-left: 1em;
}
.hero-img-container {
  height: 400px;
}
.hero-img-container img {
  width: 100%;
  object-fit: cover;
  height: 90%;
  border-bottom-right-radius: 20px;
}
.content-grid {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em; */
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}
.content-product {
  /* max-width: 320px; */
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
  padding: 0 1px 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}
.product-info {
  margin-top: 1.2em;
  padding: 0 1em;
}
.content-product img {
  width: 100%;
  height: auto;
}
.product-name {
  font-weight: 300;
  margin-bottom: 8px;
}
.product-price {
  color: rgb(173, 3, 3);
  font-weight: 500;
  margin-bottom: 8px;
}
.product-brand {
  background-color: rgb(89, 89, 241);
  color: white;
  display: inline-block;
  margin-bottom: 2.5em;
  font-size: 0.75rem;
  border-radius: 12px;
  padding: .4em 1.2em;
}
