.footer {
  margin-top: 4em;
  padding: 1em 0 2em;
}

.footer-company p {
  margin: 0 0 1em 0;
}
.footer-company p span {
  font-weight: 700;
}

.footer-info h6,
.footer-get-to-know h6 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.8em;
}
.footer-info ul li,
.footer-get-to-know ul li {
  margin-bottom: 0.8em;
  font-size: 0.85rem;
}
.footer-info ul li:hover,
.footer-get-to-know ul li:hover {
  color: rgb(173, 3, 3);
}
